.navbar{
    -fx-background-color:   #000c61;
}

.navbar-button{
    -fx-background-color:  #000c61;
    -fx-text-fill: white;
}

.navbar-button:hover{
    -fx-background-color: #0059b5;
}

.top-button{
    -fx-background-color: #000c61;
}